
<div class="media-body">
	<div class="pull-right">
		<div class="racer-tools btn-group btn-group-xs">
 			<a class="btn btn-default btn-xs" href="/wall/<%= _id %>/" data-toggle="tooltip" data-placement="bottom" target="_blank" title="Ouvrir le live public">
				<span class="glyphicon glyphicon-new-window"></span> 
			</a>
			<a class="btn btn-default btn-xs" href="#edit/<%= _id %>" data-toggle="tooltip" data-placement="bottom" title="Modifier">
				<span class="glyphicon glyphicon-wrench"></span> 
			</a>
			<!-- <a class="btn btn-default btn-xs" href="#filter/bundle/<%= _id %>" data-toggle="tooltip" data-placement="bottom" title="Administration du Wall">
				<span class="glyphicon glyphicon-fullscreen"></span> 
			</a> -->
			<% if(is_dashed){ %>
			<a class="btn-remove-dash btn btn-default btn-xs" href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Retirer ce live du Dashboard">
				<!-- <span class="glyphicon glyphicon-plus"></span>  -->
				<span class="glyphicon glyphicon-minus"></span> 
			</a>
			<% } else { %>
				<a class="btn-add-dash btn btn-default btn-xs" href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Ajouter ce live au Dashboard">
					<!-- <span class="glyphicon glyphicon-plus"></span>  -->
					<span class="glyphicon glyphicon-plus"></span> 
				</a>
			<% } %>

		</div>
	</div>
	<div class="pull-left grippy"></div>
	<h4 class="media-heading">

		<button type="button" class="btn btn-<%= status == "stopped" ? "danger" : "default hide" %> btn-xs start" <%= status == "started" ? 'disabled="disabled"' : "" %>>
			<span class="glyphicon glyphicon-pause"></span>
		</button>
		<button type="button" class="btn btn-<%= status == "stopped" ? "default hide" : "success" %> btn-xs stop" <%= status == "started" ? "" : 'disabled="disabled"' %>>
			<span class="glyphicon glyphicon-play"></span>
		</button>

		<div class="title">
			<%= title %>
			<% if(!visible){ %> 
				<span class="btn-blacky <%= status == "started" ? 'active' : "" %> badge"><span class="glyphicon glyphicon-lock"></span></span>
			<% } %>
		</div>
	</h4>
	
	<div class="pull-right monitor-group btn-group btn-group-xs">
		<button type="button" class="monitor btn btn-default btn-xs" data-toggle="tooltip" data-placement="bottom" title="Messages reçus">
			<span class="glyphicon glyphicon-bullhorn"></span> <%= _count %>
		</button>

		<button type="button" class="d-monitor-container monitor btn btn-default btn-xs" data-toggle="tooltip" data-placement="bottom" title="Ecrans connectés">
			<span class="glyphicon glyphicon-expand"></span> <span class="d-monitor"></span>
		</button>
	</div>

	<ul class="tag-list">
		<% if(phone_number){ %>
			<li><span class="label label-default label-light"><span class="glyphicon glyphicon-phone-alt"></span> <%= phone_number %></span>
		<% } %>
		<% _.each(hashtag_list, function(hashtag){ %><li><span class="label label-default"><%= hashtag %></span></li><% }); %>
	</ul>
</div>
